.main{
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: 100vh;    
    box-sizing: border-box;
    width: 100vw;    
    overflow-y: scroll;
}

.contentContainer .main{
    min-height: 98vh;
    display: flex;
    flex-flow: column;
}

.contentContainer{
}

.contentContainer ::-webkit-scrollbar{
    width: 5px;
}

.contentContainer ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 100px;
}

@media screen and (min-width: 600px){

    .main div:first-child{
        width: 600px;
        min-height: 98vh;
    }

    .main{
        display: flex;
        align-items: center;
    }
}

#animalImg{
    width: -moz-available;
    width: -webkit-fill-available;
    height: auto;
    max-height: 50vw;
    object-fit: cover;
    margin-top: 2rem;
    border-radius: 32px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 96%));
}

#requestorInfo{
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 6px 0px;
    display: flex;
    flex-flow: row;
    column-gap: 8px;
    align-items: center;
}

#requestorInfor span{
    font-size: 1.1rem;
    font-weight: bold;
}

#requestorInfo img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.main p{
    font-size: 1rem;
    padding: 8px;
    border-radius: 14px;
    background-color: rgb(158, 255, 158);
    margin-top: 6px;
    margin-bottom: 6px;
}