.main{
    margin-top: 3rem;
    padding: 0px 23px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
}

.main div{
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: 650px;
}

@media screen and (min-width: 650px){
    .main{
        display: flex;
        justify-content: center;
    }
}

.notifContainer {
    display: flex;
    flex-flow: row;
    background: #0000ff5e;
    border: solid #0000ff4d 2px;
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
    margin: 0.5rem;
}

.main a{
    text-decoration: none;
}

.notifContainer img {
    width: 7rem;
    margin: 4px 0px;
    object-fit: cover;
    margin-left: 8px;
    border-radius: 14px;
}

.textContainer {
    display: flex;
    flex-flow: column;
    margin-left: 8px;
    padding: 11px 0px;
    width: 20rem;
}

.title {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.subTitle {
    color: #00000094;
    margin-top: 4px;
}

.date{
    color: #0000006e;
    font-size: 0.8rem;
    margin-top: 2px;
}